:root {
  --color-primary: rgba(0,0,0,0);
  --color-white: rgba(255,255,255,255);

  --font-size-2sm: 0.625rem;
  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 1.75rem;

  --spacing: 8px;
  --spacing-2x: 16px;
  --spacing-4x: 32px;
  --spacing-8x: 64px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body {
  font-weight: 300;
  min-height: 100vh;
  line-height: 1;
  list-style-type: none;
  font-size: 16px;
}

h1 {
  font-size: var(--font-size-2xl);
  line-height: 1.6;
}

h2 {
  font-size: var(--font-size-xl);
  line-height: 1.6;
}

p, li {
  text-align: justify;
}

li {
  list-style-type: none;
}
