---
import dayjs from 'dayjs';

import Layout from "../layout/Layout.astro";
import GoBackButton from '../components/GoBackButton.astro';
import Link from "../components/Link.astro";
import { bookmarksGet } from './_bookmarks-helpers';

export const prerender = false;

const fetchedBookmarks = await bookmarksGet();
const json = await fetchedBookmarks.json();

const bookmarks = json.data.search.edges.map(({ node }) => ({
  savedAt: node.savedAt,
  title: node.title,
  url: node.url,
}));

const bookmarksSorted = bookmarks.sort((a, b) =>
  Math.floor(b.savedAt / 1000) -
  Math.floor(a.savedAt / 1000)
);

const groupByMonth = (bookmarks) => {
  const grouped = bookmarks.reduce((acc, bookmark) => {
    const month = dayjs(bookmark.savedAt).format('MMMM [/] YYYY');
    if (!acc[month]) {
      acc[month] = [];
    }
    acc[month].push(bookmark);
    return acc;
  }, {});
  return grouped;
};

const bookmarksGroupedByMonth = groupByMonth(bookmarksSorted);
---

<Layout>
  <GoBackButton />
  <section class="posts">
    <h2>bookmarks.</h2>
    <section class="bookmarks">
      {Object.entries(bookmarksGroupedByMonth).map(([month, bookmarks]) => (
        <div class="description">
          <h3>{month}</h3>
          <ul>
            {bookmarks.map((bookmark) => (
              <li>
                <Link href={bookmark.url} target="_blank" rel="noopener">
                  {bookmark.title}
                </Link>
              </li>
            ))}
          </ul>
        </div>
      ))}
    </section>
  </section>
</Layout>

<style>
  h2 {
    margin-bottom: var(--spacing-2x);
  }

  .description {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-2x);
  }

  .posts ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }

  .posts ul li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: var(--spacing-8x);
  }

  .posts :global(a) {
    flex: 1;
  }

  @media screen and (max-width: 425px) {
    .posts ul {
      gap: var(--spacing-2x);
    }

    .posts ul li {
      flex-direction: column;
    }
  }

  .bookmarks {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4x);
  }
</style>


