---
import dayjs from 'dayjs';
import { marked } from 'marked';
import { getCollection } from 'astro:content';

import Layout from "../layout/Layout.astro";
import GoBackButton from '../components/GoBackButton.astro';

const [changelog] = await getCollection('changelog');
const changelogSorted = changelog.data.sort((a, b) => a > b ? 1 : -1)

---

<Layout>
  <GoBackButton />
  <h1>Changelog</h1>
  <section>
    <ul>
      {changelogSorted.map(async (item) => {
        const parsedMarkdown = marked.parse(item.title, {  });
        return (
          <li>
            <p>
              <span>{dayjs(item.time).format('YYYY-MM-DD')}</span>
              <span>-</span>
              <span set:html={parsedMarkdown} />
            </p>
          </li>
        );
      })}
    </ul>
  </section>
</Layout>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }

  li {
    display: flex;
    gap: 4px;
  }
</style>