---
import { getCollection } from 'astro:content';

import Layout from "../layout/Layout.astro";
import Link from "../components/Link.astro";
import { GITHUB_REPO_URL } from '../config';

const posts = await getCollection('blog', ({ data }) => !data.draft);

const postsSorted = posts.sort((a, b) =>
  Math.floor(b.data.pubDate / 1000) -
  Math.floor(a.data.pubDate / 1000)
);
---

<Layout>
  <h1>Noghartt's garden</h1>
  <section class="description">
    <p>The place where I put all my ideas.</p>
    <p>The blog is under <Link href={`${GITHUB_REPO_URL}/blob/main/LICENSE`} isExternal>GNU AGPLv3</Link> and <Link href={`${GITHUB_REPO_URL}/blob/main/LICENSE-posts`} isExternal>CC BY-SA 4.0</Link> licenses.</p>
    <p><Link href="/lists">Here</Link> you will find the lists of everything that I like to follow.</p>
  </section>
  <section class="posts">
    <h2>posts.</h2>
    <ul>
      {postsSorted.map(post => (
        <li>
          <p>
            {post.data.pubDate.toISOString().split('T')[0]}
          </p>
          <Link href={post.slug}>
            <p class="post-title">
              {post.data.title}
            </p>
          </Link>
        </li>
      ))}
    </ul>
  </section>
</Layout>

<style>
  .description {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-2x);
  }

  .posts ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }

  .posts ul li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: var(--spacing-8x);
  }

  .posts :global(a) {
    flex: 1;
  }

  @media screen and (max-width: 425px) {
    .posts ul {
      gap: var(--spacing-2x);
    }

    .posts ul li {
      flex-direction: column;
    }
  }
</style>

