---
import Layout from "../layout/Layout.astro";
import GoBackButton from '../components/GoBackButton.astro';
---

<Layout>
  <GoBackButton />
  <section>
    <h1>Now</h1>
    <p>
      Last update: 2024-12-05 11:37 PM
    </p>
  </section>
  <article>
    <section>
      <h2>What am I coding?</h2>
      <p>
        I'm currently working as a software engineer at <a href="https://fireflies.ai">Fireflies.ai</a>.
      </p>
      <p>
        I'm also working on some side projects, such as:
        <ul>
          <li>Trying to maintain my blog and creating a writing habit</li>
        </ul>
      </p>
    </section>
    <section>
      <h2>What are my current interests?</h2>
      <p>
        I'm currently interested in learning more about the following topics:
        <ul>
          <li>Database</li>
          <li>Distributed Systems</li>
          <li>CPUs and Hardware</li>
          <li>Compilers and Programming Language Theory</li>
          <li>Web front-end frameworks</li>
        </ul>
      </p>
    </section>
    <section>
      <h2>What am I doing now?</h2>
      <p>
        Some things that I'm doing now:
        <ul>
          <li>Practicing French every day</li>
          <li>Discovering new hobbies with my girlfriend</li>
        </ul>
      </p>
    </section>
    <section>
      <h2>What am I reading now?</h2>
      <p>
        I'm currently interested in learning more about the following topics:
        <ul>
          <li>
            Godel, Escher, Bach: An Eternal Golden Braid
          </li>
          <li>
            Noise: A Flaw in Human Judgment
          <li>
        </ul>
      </p>
    </section>
  </article>
</Layout>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2x);
  }

  article section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }

  li {
    list-style-type: disc;
    margin-left: var(--spacing-2x);
  }
</style>