---
import Layout from "../layout/Layout.astro";
import GoBackButton from '../components/GoBackButton.astro';
import { getCollection } from "astro:content";
import dayjs from 'dayjs';

const til = await getCollection('til');
const sortedTil = til.sort((a, b) =>
  Math.floor(b.data.createdAt / 1000) -
  Math.floor(a.data.createdAt / 1000)
);
---

<Layout>
  <GoBackButton />
  <div>
    <h1>Today I learned</h1>
    <p>Here I have everything that I learned in some way during my day.</p>
  </div>
  <ul>
    {sortedTil.map(async (item, i) => {
      const createdAt = dayjs(item.data.createdAt).format('YYYY/MM/DD ddd [-] hh:mm A')
      const { Content } = await item.render();
      return (
        <li>
          <p>{i + 1}.</p>
          <div class="content">
            <a href={`#${item.slug}`}>
              <p class="title" id={item.slug}>
                <span>{item.data.title}</span>
                <span>{createdAt}</span>
              </p>
            </a>
            <section class="article">
              <Content />
            </section>
          </div>
        </li>
      );
    })}
  </ul>
</Layout>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }

  li {
    display: flex;
    gap: var(--spacing);
  }

  li .content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  }

  .title {
    display: flex;
    justify-content: space-between;
  }

  li:not(:first-child) {
    border-top: 1px solid #000;
    padding-top: var(--spacing);
  }

  section.article :global(li) {
    list-style-type: initial;
    margin-left: var(--spacing-2x);
  }
</style>