---
import { GITHUB_REPO_URL } from '../config';
import Link from './Link.astro';

const navLinks = [
  {
    title: 'Lists',
    href: '/lists',
    isExternal: false,
  },
  {
    title: 'Tags',
    href: '/tags',
    isExternal: false,
  },
];
---

<footer>
  <p>
    {new Date().getUTCFullYear()}
  </p>
  <nav>
    <ul>
      {navLinks.map(link => (
        <li>
          <p>
            <Link href={link.href} isExternal={link.isExternal}>
              {link.title}
            </Link>
          </p>
        </li>
      ))}
    </ul>
  </nav>
</footer>

<style>
  footer {
    border-top: 1px solid rgba(0,0,0,0.2);
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin-top: var(--spacing-4x);
    padding-top: var(--spacing);
  }

  @media screen and (max-width: 425px) {
    footer {
      gap: var(--spacing);
    }

    footer * {
      flex: 1;
      text-align: center;
    }
  }

  footer nav ul {
    display: flex;
    gap: var(--spacing-2x);
  }
</style>