---
import Link from "./Link.astro";

---

<Link href="#">
  <p>
    Go back
  </p>
</Link>

<script>
  const link = document.querySelector('a');

  const hrefAttribute = document.createAttribute('href');
  hrefAttribute.value = history.length > 1 ? 'javascript:history.back()' : '/';

  link?.attributes.setNamedItem(hrefAttribute);
</script>